$gray: #808080;

@mixin margins($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	background-color: $gray;
	color: #fff;
	@include margins(50px, 0px);
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $gray;
	color: #fff;
	@include margins(10px, 0px);
}

.card-hotel {
	flex: 1 200px;
	@include margins(10px, 0px);
}

.btn-reserva {
	width: 100%;
	border-radius: 0;
}
.tab-content {
	padding-top: 10px;
}